body {
    width:80%;
    margin:0;
    margin-right:auto;
    margin-left:auto;
    padding:10px;
    font-family: sans-serif;
}

main {
    min-height: 600px;
}

a {
    color: royalblue !important;
    text-decoration: none;
}