<span>Welcome to TimmyJS</span></a><br><br>

<form action="/adminPanel" method="GET" id="serverSelect">
    <input type="hidden" name="token" value="{{token}}">
    <input type="hidden" name="channelID" value="">
    <label>choose server:</label><br>
    <select name="serverID" onchange='document.getElementById("serverSelect").submit();'>
        <option autofocus disabled>Choose a server</option>
        {{#each serverList}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
</form>